.sk-info-wp .sk-baseinfo-wp .sk-personinfo-title {
  line-height: 27px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.6em;
}
.sk-info-wp .sk-baseinfo-wp .sk-personpic {
  border: 1px solid #66afe9;
}
.sk-info-wp .sk-baseinfo-wp .sk-upload-pic {
  border: none;
  background-color: #62caea;
  color: #ffffff;
}
.sk-info-wp .sk-baseinfo-wp .sk-upload-pic:hover {
  cursor: pointer;
  background-color: #35bbe4;
}
.sk-info-wp .sk-split-line {
  border-top: 1px solid #E5E5E5;
}
.sk-info-wp .sk-label {
  font-size: 1.7em;
  color: #195183;
}
.sk-info-wp .sk-content {
  font-size: 1.7em;
  color: #3a3a3a;
}
.sk-info-wp .sk-btn {
  line-height: 18px;
  vertical-align: middle;
  font-size: 1.4em;
  color: #fff;
}
.sk-info-wp .sk-btn:hover {
  cursor: pointer;
}
.sk-info-wp .sk-edit-btn {
  background-color: #7EC75A;
  border: 1px solid #3FA92A;
  text-indent: 20px;
}
.sk-info-wp .sk-edit-btn span.sk-btn-icon {
  background-image: url("../../img/personinfo/edit-icon.png");
}
.sk-info-wp .sk-delete-btn {
  background-color: #BCBCBC;
  border: 1px solid #ADADAD;
  text-indent: 2px;
}
.sk-info-wp .sk-delete-btn span.sk-btn-icon {
  background-image: url("../../img/personinfo/delete-icon.png");
}
.sk-info-wp .sk-save-btn {
  background-color: #4297DC;
  border: 1px solid #2769A1;
  text-indent: 20px;
}
.sk-info-wp .sk-save-btn span.sk-btn-icon {
  background-image: url("../../img/personinfo/save-icon.png");
}
.sk-info-wp .sk-create-team {
  background-color: #4297DC;
  border: 1px solid #2769A1;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
}
.sk-info-wp .sk-create-team:hover {
  cursor: pointer;
}
.sk-info-wp .sk-teaminfo-title {
  font-size: 1.6em;
}
.sk-info-wp .sk-teaminfo-form label {
  font-size: 1.6em;
}
.sk-info-wp .sk-teaminfo-form label span {
  color: red;
}
.sk-info-wp .sk-teaminfo-form table {
  border-spacing: 1px;
  empty-cells: show;
  border-collapse: separate;
  font-size: 1.5em;
  line-height: 100%;
  table-layout: fixed;
}
.sk-info-wp .sk-teaminfo-form table th {
  width: 90px;
  vertical-align: middle;
  background-color: #ffffff;
}
.sk-info-wp .sk-teaminfo-form table td {
  vertical-align: middle;
  background-color: #F7F7F7;
}
.sk-info-wp .sk-teaminfo-form table td p {
  margin: 0;
}
.sk-info-wp .sk-teaminfo-form table .l-can-edit input {
  display: block;
  margin: 0;
  width: 80px;
  text-align: center;
}
.sk-info-wp .sk-teaminfo-form .sk-submit {
  border: none;
  color: #ffffff;
  font-size: 1.7em;
}
.sk-info-wp .sk-teaminfo-form .sk-register {
  background-color: #62caea;
}
.sk-info-wp .sk-teaminfo-form .sk-register:hover {
  cursor: pointer;
  background-color: #35bbe4;
}
